<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	 <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-83-46-91.compute-1.amazonaws.com:5432/d3a9a9lp9ko94v?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
    <property name="hibernate.connection.username">vmnkkatcsgdmeb</property>
    <property name="hibernate.connection.password">LxVWGWDTorYJ2nQ3MbiGDKv8_0</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="cz.ostastny.andycd.models.Environment" />
    <mapping class="cz.ostastny.andycd.models.ReleasePath" />
</session-factory>
</hibernate-configuration>